<ion-header>
  <ion-toolbar>
    <ion-title>WELCOME!</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <h1 class="top">Welcome!</h1>

  
  <div class="box"> </div>
  <div class="box2"> </div>
  <div class="box3"> </div>
  <div class="center">
  </div> 

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
</ion-content>