



<ion-content class="ion-padding">
  <div class="box"> </div>
  <div class="box2"> </div>
  <div class="box3"> </div>
  <div class="center">
  </div> 



  <ion-card color="light">
    <ion-card-header>
      <ion-card-title *ngIf="percent < 45">Keep up!</ion-card-title>
      <ion-card-title *ngIf="percent >= 45 && percent <= 55">Halfway done!</ion-card-title>
      <ion-card-title *ngIf="percent > 55 && percent < 100">Almost done!</ion-card-title>
      <ion-card-title *ngIf="percent === 100">Good job!</ion-card-title>
      <ion-card-title *ngIf="percent > 100">You are more than done!</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>
    You have completed {{ percent.toFixed(1) }}% of your work hours 
    <br/>
    <br/>
    <br/>
    I hope you enjoyed the animation. You can press "Again" to go back. 

    <ion-button class="container" (click)="navigate()">Again</ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>