



<ion-content class="ion-padding">


  <ion-card color="light">
    <img alt="Silhouette of mountains" src="/assets/shapes.png" />
    <ion-card-header>
      <ion-card-title>Welcome!</ion-card-title>
      <ion-card-subtitle>Designed by Kaan Koc</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     This is a ionic app designed to provide a virtual animation work hours completed.
     <br />
     <br />
     First, start by entiring the desired number of hours. Then, enter the hours that worked. 
     <br />
     <br />
     <ion-item color="white">
      <ion-label position="floating">Desired Hours:</ion-label>
      <ion-input type="number" placeholder="Enter desired hours"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating">Total Hours:</ion-label>
      <ion-input type="number" placeholder="Enter total hours"></ion-input>
    </ion-item>
    <ion-button class="container">Done!</ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>