



<ion-content class="ion-padding">


  <ion-card color="light">
    <img  src="/assets/shapes.png" />
    <ion-card-header>
      <ion-card-title>Welcome!</ion-card-title>
      <ion-card-subtitle>Designed by Kaan Koc</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      This mobile app is designed to simulate the virtual animation of the ratio of completed work hours to total hours needed.
     <br />
     <br />
     To begin, please input the total number of hours required. After that, enter the number of hours that have been completed so far. 
     <br />
     <br />
     <ion-item color="white">
      <ion-label position="floating">Total Hours:</ion-label>
      <ion-input type="number" placeholder="Enter desired hours" id="desiredHours" [(ngModel)]="desiredHours"></ion-input>
    </ion-item>
    <ion-item color="white">
      <ion-label position="floating">Completed Hours:</ion-label>
      <ion-input type="number" placeholder="Enter total hours"  id="totalHourds" [(ngModel)]="totalHours"></ion-input>
    </ion-item>
    <ion-button class="container" (click)="navigate()">Done!</ion-button>
    </ion-card-content>
  </ion-card>

  
</ion-content>