ion-content{

  --ion-background-color:	#4a5777;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #b24444;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center {
  text-align: center;
  }

.top {
  display: flex; // Assuming you are using flexbox for layout
  align-items: flex-start; // Align items to the top of the container
  margin-bottom: 60%;
}
// @keyframes spin {
//   0% {
//     transform: translateY(0) rotate(0deg);
//   }
//   100% {
//     transform: translateY(-100%) rotate(500deg);
//   }
  
// }